---
import Layout from "../../layouts/Layout.astro";

const id = Astro.params.id;
const linkToNext = `/${parseInt(id) + 1}`;
---

<Layout heading="Items">
  <p>You are at { id }.</p>
  <li><a href={linkToNext}>Next</a></li>
</Layout>