---
import Layout from "../../layout/Layout.astro";
import AnswerList from "../../components/AnswerList.svelte";
import AnswerForm from "../../components/AnswerForm.svelte";
import QuestionPresentation from "../../components/QuestionPresentation.svelte";

const questionId = Astro.params.id;
---

<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .flex-item {
    flex: 1;
  }
</style>

<Layout>
  <div class="mx-auto p-4 space-y-8 flex-container">
    <QuestionPresentation client:load questionId={questionId} />
    
    <div class="space-y-4">
      <h1 class="text-3xl font-bold">Answers</h1>
      <AnswerForm client:load questionId={questionId} />
      <div class="flex-item">
        <AnswerList client:load questionId={questionId} />
      </div>
    </div>
  </div>
</Layout>