---
import Layout from "../layout/Layout.astro";
import GradingButton from "../components/GradingButton.svelte";
import Assignment from "../components/Assignment.svelte";
import ProgressBar from "../components/ProgressBar.svelte";
---

<Layout>
  <h1>Welcome to the Programming UI</h1>
  <ProgressBar client:load/>
  <Assignment client:load />
</Layout>
